*{
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 1rem;
    height: 100%;
    width: 100%;
}

body {
    /*border: 3px red solid;*/
    min-height: 50px;
    margin-top: 0px;
    min-width: 50px;
    padding: 0;
}
main {
    margin-top: 90px;
}
header {
    position: fixed;
    top:0;
    width: 100%;
    background-color: #b6d8c0;
    font-family: 'Kaisei HarunoUmi', serif;
    box-shadow: 5px 5px 20px #b6d8c0 ;
    border-radius: 3px;
    display: flex;
}
.container {
    display: inline-flex;
    flex-direction: row;
}
 footer {
    /*border: 3px blue solid;*/
    text-align: center;
    width: 100%;
    background-color: #b6d8c0;
    font-family: 'Kaisei HarunoUmi', serif;
    box-shadow: 20px 5px 20px #b6d8c0;
    border-radius: 3px;
    display: inline-block;
    font-style: italic;
    font-size: small;
}
.pie{
    font-size: larger;
    font-style: italic;
    text-align: center;
    display: inline-block;
}
.header-logo {
    /*border: 3px black solid;*/
    /*margin: 0.5rem;*/
    display: inline-flex;
}
#menu ,  #menu-check {
    display: none;
}

@media only screen and (max-widht:1000px) {
    header, .header-menubar,.header-menubar ul, .header-menubar li {
        display:flex;
    }
    .header-menubar ul li{
    width: 100%;
    align-items: center;
    display:inline-flex;
    }
    #menu {
        display: none;
    }
}

@media only screen and (max-width:700px) {
    
    .header-logo {
        margin: 0;
    }
    .header-logo a {
        padding: 0;
    }
    .header-menubar {
        display: block;
        place-content: space-between;
    }
    #menu-check:not(:checked) ~ nav {
        display: none;
    } 
    #menu-check:checked ~ nav {
        display: block;
    }
    #menu {
            display: block;
            color: #da8 ;
            font-size: 1.8em;
            font-weight: bold;
            position: absolute;
            top: 0.5em;
            right: 0.5em;
            z-index: 9999;
        }
    #menu:hover {
            color: black;
    }
    #menu-cerrar {
            display: none;
        }

    #menu-check:checked ~ label #menu-abrir {
    display: none;
    }
    #menu-check:checked ~ label #menu-cerrar {
    display: block
    }
   
    .header-menubar ,.header-menubar ul, .header-menubar ul li { 
        display: flex;
        flex-direction: column;
        text-align: right;
        list-style: none;
        font-size: small;
    }
    main, section {
        display: block;
        width: 100%;
    }
}

.header-menubar {
    margin: 0 0 0 0;
    /*border: solid turquoise;*/
    position: relative;
    left: 50px;
    top: auto;
    width: auto;
    display: block;
}

.header-menubar ul li { 
    display: inline-flex;
    /*text-align:right;*/
    list-style: none;
}
.header-menubar li {
    /*border:3px green solid;*/
    float:inline;
    font-size: 18px;;
    font-weight: 700;
    /*text-align: center;*/
    margin: 10px 100px 10px 10px;
    padding: 0;
    align-items: center;
}
.header-menubar a {
    text-decoration: none;
    color: black
}
.header-menubar a:hover {
    color: #DA8 
}

main div {
    display: block;
    min-height: 100px;
    width: auto;
    height: auto;
    
}
.contenido-principal {
    display: block;
}
section {
    display: block;
   
}
article {
    display: block;
    text-align: center;
    align-items: center;
    max-width: auto;
    max-height: auto;
}
.primer-art,.segundo-art,.tercer-art {
    padding: 10px;
    font-family:'Gowun Dodum', sans-serif;
    font-size: 18px;
    text-align: justify;
  
}
.segundo-art,.tercer-art {
    display: inline-block;
    max-width:400px;
    max-height: auto;
    margin-left: 20px;
    font-family:'Gowun Dodum', sans-serif;
    text-align: justify;
    font-size: 18px;
    @keyfrem animate__heartBeat
}
body {
    background-color: #ecdbbc;
}
#bienvenida {
    width: 100%;
    border-radius: 15px;
}

#promociones {
    width: 80%;
    border-radius: 15px;
}
#deportivo {
    width: 100%;
    border-radius: 15px;
}


/*color1 { #b6d8c0 };
.color2 { #c8d9bf };
.color3 { #dadabd };
.color4 { #ecdbbc };
.color5 { #fedcba }  #DA8;*