*{
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 1rem;
    height: 100%;
    width: 100%;
}

body, main {
    /*border: 3px red solid;*/
    min-height: 50px;
    margin: 0;
    min-width: 50px;
    padding: 0;
}
header {
    position: fixed;
    width: 100%;
    background-color: #b6d8c0;
    font-family: 'Kaisei HarunoUmi', serif;
    box-shadow: 5px 5px 20px #b6d8c0 ;
    border-radius: 3px;
    display: flex;
}
 footer {
    /*border: 3px blue solid;*/
    text-align: center;
    width: 100%;
    background-color: #b6d8c0;
    font-family: 'Kaisei HarunoUmi', serif;
    box-shadow: 20px 5px 20px #b6d8c0;
    border-radius: 3px;
    display: inline-block;
    font-style: italic;
    font-size: small;
}
.pie{
    font-size: larger;
    font-style: italic;
    text-align: center;
    display: inline-block;
}
.header-logo {
    /*border: 3px black solid;*/
    /*margin: 0.5rem;*/
    display: inline-flex;
}
#menu ,  #menu-check {
    display: none;
}

@media only screen and (max-widht:900px) {
    header, .header-menubar,.header-menubar ul, .header-menubar li {
        display:inline-block
    }
    .header-menubar ul li{
    width: 100%;
    align-items: center;
    display:inline-flex;
     }
    #menu {
        display: none;
    }
}

@media only screen and (max-width:500px) {
    
    .header-logo {
        margin: 0;
        padding: 0;
    }
    .header-menubar {
        display: block;
        place-content: space-between;
    }
    #menu-check:not(:checked) ~ .header-menubar {
        display: none;
    } 
    #menu-check:checked ~ .header-menubar {
        display: block;
    }
    #menu {
            display: block;
            color: #da8 ;
            font-size: 1.8em;
            font-weight: bold;
            position: absolute;
            top: 0.5em;
            right: 0.5em;
        }
    #menu:hover {
            color: black;
    }
    #menu-cerrar {
            display: none;
    }
    #menu-check:checked ~ label #menu-abrir {
    display: none;
    }
    #menu-check:checked ~ label #menu-cerrar {
    display: block
    }
    .header-menubar {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding-top: 0.5em;
        padding-right: 1.5em;
    }
    .header-menubar , ul .header-menubar ul { 
        display: block;
        text-align: right;
        list-style: none;
        font-size: small;
    }
    main {
        text-align: center;
    }
}

.header-menubar {
    margin: 0 0 0 0;
    /*border: solid turquoise;*/
    left: 10px;
    position: relative;
    top: auto;
    width: auto;
    display: inline;
}

.header-menubar ul li { 
    display: inline-flex;
    /*text-align:right;*/
    list-style: none;
}
.header-menubar li {
    /*border:3px green solid;*/
    float:inline;
    font-size: 18px;;
    font-weight: 700;
    /*text-align: center;*/
    margin: 20px 100px 0px 0px;
    padding: 0;
    align-items: center;
}
.header-menubar a {
    text-decoration: none;
    color: black
}
.header-menubar a:hover {
    color: #DA8 
}
main {
    background-color: #ffff;
    min-height: 200px;
    overflow: auto;
}
main>div {
    /*border: 3px blue solid;*/
    min-height: 180px;
    margin: 0.5rem;
    height: auto;
    float: left;
    width: 65%;
}
main>aside {
    /*border: 3px yellow solid;*/
    min-height: 180px;
    margin: 0.5rem;
    min-width: 25%;
    float: left;
    width: auto;
    margin-top: 138px;
    font-family: 'Gowun Dodum', sans-serif;
    text-align: center;
    border-radius: 5px;
}
.secciones {
    /*border: 2px green solid;*/
    min-height: 50px;
    margin: 0.5rem;
    top:10px
}
.secciones article {
    /*border: 2px purple solid;*/
    /*margin: 0.5rem;*/
    padding-top: 10px;
    margin-top: 100px;
    font-family:'Gowun Dodum', sans-serif;
    text-align: justify;
}

body {
    background-color: #dadabd;
}
#aceite {
    width: 100%;
    border-radius: 15px;
}
#relajada {
    width: 100%;
    border-radius: 15px;
}

.lista-aceite li , .lista-tratamientos li {
    list-style-type:disc;
    margin-left: 50px;
}
/*color1 { #b6d8c0 };
.color2 { #c8d9bf };
.color3 { #dadabd };
.color4 { #ecdbbc };
.color5 { #fedcba }  #DA8;*/